* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
}

h2 {
    position: relative;
    font-size: 6em;
    letter-spacing: 5px; /* Adjusted letter-spacing */
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animateText 5s linear infinite, animateScale 5s ease-in-out infinite, animateRotate 10s linear infinite, animateMove 5s ease-in-out infinite;
}

@keyframes animateText {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
                     0 0 20px #03bcf4,
                     0 0 40px #03bcf4,
                     0 0 80px #03bcf4,
                     0 0 160px #03bcf4;
    }
}

@keyframes animateScale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes animateRotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

@keyframes animateMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
